################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Framework.Web.Test/obj
/Framework.Web.Test/bin
/Library.Framework.Web/bin
/Library.Framework.Core/obj
/Library.Framework.Web/obj
/.vs/Dotnet.Library.Framework/v16/Server/sqlite3
/Library.Framework.Core/bin
/Test.Client/bin/
/Test.Client/obj
/Test.Contract/bin
/Test.Contract/obj
/Test.Server/bin
/Test.Server/obj
/Library.Framework.Plugin/bin
/Library.Framework.Plugin/obj
/Library.Framework.Web/bin
/Library.Framework.Web/obj
/TestApp/bin/Debug
/TestApp/obj
/Library.Framework.Core/obj
/Library.Framework.Web/obj
/Library.Framework.Core/obj
/Library.Framework.Web/bin/Debug/netcoreapp2.2
/Library.Framework.Web/obj/Debug/netcoreapp2.2
/.vs/Dotnet.Library.Framework/v15/Server/sqlite3
/.vs
/Cache.Manage.Plugin/bin/Debug/netstandard2.0
/Cache.Manage.Plugin/obj
/Logger.Manage.Plugin/obj
/RabbitMq.Manage.Plugin/bin/Debug/netstandard2.0
/RabbitMq.Manage.Plugin/obj
/Logger.Manage.Plugin/bin/Debug/netstandard2.0
/ConsoleTest/bin/Debug/netcoreapp3.0
/ConsoleTest/obj
/Framework.Web.Test/Properties/launchSettings.json
/Library.Framework.Web/Properties/launchSettings.json
