<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <logger name="SysLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ElasticSearchAppender" />
    </logger>
    <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender,log4stash">
      <Server>192.168.137.2</Server>
      <Port>9200</Port>
      <Path>/es5</Path>
      <IndexName>log_test_%{+yyyy-MM-dd}</IndexName>
      <IndexType>LogEvent</IndexType>
      <Bulksize>2000</Bulksize>
      <BulkIdleTimeout>10000</BulkIdleTimeout>
      <IndexAsync>False</IndexAsync>
      <SerializeObjects>True</SerializeObjects>
      <ElasticSearchTimeout>10000</ElasticSearchTimeout>
    </appender>
</log4net>
